<!DOCTYPE html>
<html>
<head>
  <title>Musika - Search Results</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <header>
      <h1>Musika</h1>
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Artists', artists_path %></li>
          <li><%= link_to 'Genres', genres_path %></li>
          <li><%= link_to 'Music', music_index_path %></li>
          <li><%= link_to 'Comments', comments_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
          <li><%= link_to 'Admin', admin_root_path %></li>
        </ul>
      </nav>
    </header>

    <h2>Search Results</h2>

    <% if @results.any? %>
      <div class="results-row-container">
        <% @results.each do |result| %>
          <div class="result-row">
            <% if result.is_a?(Music) %>
              <a href="#"><%= result.title %></a>
              <p><%= result.description %></p>
            <% elsif result.is_a?(Artist) %>
              <a href="#"><%= result.user.name %></a>
              <p><%= result.bio %></p>
            <% elsif result.is_a?(Genre) %>
              <a href="#"><%= result.name %></a>
            <% elsif result.is_a?(Comment) %>
              <a href="#"><%= result.body %></a>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No results found.</p>
    <% end %>

    <footer>
      <p>&copy; 2024 Musika. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
