<!-- app/views/music/index.html.erb -->
<h2>All Songs</h2>

<div class="filters">
  <%= link_to 'All Songs', music_index_path %> |
  <%= link_to 'On Sale', on_sale_music_index_path %> |
  <%= link_to 'Newly Added', newly_added_music_index_path %> |
  <%= link_to 'Recently Updated', recently_updated_music_index_path %>
</div>

<div class="music-list">
  <table>
    <thead>
      <tr>
        <th>Artist</th>
        <th>Song</th>
        <th>Genre</th>
        <th>Price</th>
        <th>File</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @musics.each do |music| %>
        <tr>
          <td><%= link_to music.artist.user.name, artist_path(music.artist) %></td>
          <td><%= link_to music.title, music_path(music) %></td>
          <td><%= music.genre.name %></td>
          <td><%= number_to_currency(music.price) %></td>
          <td>
            <% if music.file.attached? %>
              <%= link_to music.file.filename.to_s, rails_blob_path(music.file, disposition: "attachment") %>
            <% end %>
          </td>
          <td>
            <%= button_to 'Add to Cart', add_to_cart_cart_path(music_id: music.id), method: :post, class: 'button', style: 'background-color: #5559de;' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @musics %>
</div>
<br clear="all">
