<div id="wrapper">
    <div id="wrap-header">
    <header>
      <div class="header-flex-container">
        <nav>
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Artists', artists_path %></li>
            <li><%= link_to 'Genres', genres_path %></li>
            <li><%= link_to 'Music', music_index_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Contact', contact_path %></li>
            <li><%= link_to 'Admin', admin_root_path %></li>
            <% if user_signed_in? %>
          <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
          </ul>
        </nav>
        <div class="cart-icon">
    <%= link_to cart_path do %>
      <%= image_tag 'cart_icon.png', alt: 'Cart' %>
      (<%= current_user.cart.cart_items.count if user_signed_in? && current_user.cart.present? %>)
    <% end %>
  </div>
      </div>
    </header>
    </div>
<div id="topheader">
  <div class="logo">
    <%= image_tag 'musika-logo.svg', alt: 'Musika Logo', width: '222' %>
  </div>
  <div class="welcome-text">
    <% if user_signed_in? && current_user.respond_to?(:name) %>
      Welcome <%= current_user.name %>!
    <% else %>
      Welcome Visitor!
    <% end %>
  </div>
</div>


    <main>