<!DOCTYPE html>
<html>
<head>
  <title>Musika</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>
    
      <div class="search-container">
        <h1>Search for your favourite artists or country of artist</h1>
        <%= form_with(url: search_path, method: :get, local: true) do |form| %>
          <%= form.text_field :query, placeholder: "Search...", class: "search-input" %>
          <%= form.select :category, options_for_select([['All', ''], ['Music', 'music'], ['Artists', 'artists'], ['Genres', 'genres'], ['Comments', 'comments']]), {}, class: "search-category" %>
          <%= form.submit "Search", class: "search-button" %>
        <% end %>
        <div id="live-search-results" class="live-search"></div>
      </div>


      <h1 class="featured">Featured Artists</h1>
      <div class="artist-row">
        <% @featured_artists.each do |artist| %>
          <div class="artist">
            <%= link_to artist_path(artist) do %>
              <%= image_tag url_for(artist.profile_picture), alt: "Photo of #{artist.user.name}", style: 'width: 218px; height: auto;' %>
              <p><%= artist.user.name %></p>
            <% end %>
          </div>
        <% end %>
      </div>


      <h1 class="genres">Genres</h1>
      <div class="genre-container">
        <% Genre.all.each_slice(6).with_index do |genres, index| %>
          <div class="genre-row">
            <% genres.each do |genre| %>
              <div class="genre">
            <% genre_name = genre.name.downcase.gsub(' ', '_').gsub('/', '_') %>
            <%= image_tag "icons/#{genre_name}.png", alt: "#{genre.name} icon", style: 'width: 120px; height: 120px;' if File.exist?(Rails.root.join("app/assets/images/icons/#{genre_name}.png")) %>
            <p><%= genre.name %></p>
          </div>
            <% end %>
          </div>
          <% break if index == 2 %> <!-- Stop after processing 3 rows -->
        <% end %>
      </div>
    
    <%= render 'layouts/footer' %>
    
</body>
</html>
